* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
  }
  ul{
    list-style: none;
    padding: 0;
  }
  a{
    text-decoration: none;
  }
  .bg-color .navbar-brand {
    color: #f7e6c4;
    font-size: 36px;
    font-family: "Black Ops One";
  }
  .bg-color .navbar-brand span {
    color: #d7b96b;
  }
  .bg-color {
    background-color: #3b5d50;
  }
  .h {
    min-height: 50vh;
  }
  .taille{
    height: 400px;
    width: 600px;
    padding: 0;
    margin-top: -500px;
  }
  .prant {
    height: 30vh;
  }
  .prant .btn {
    width: 150px;
    height: 40px;
    font-weight: bold;
    font-size: 22px;
  }
  @media (max-width: 992px) {
    .img {
      display: none;
    }
  }
  input,
  textarea {
    border-radius: 8px;
  }
  footer {
    background-color: #eff2f1;
    min-height: 30vh;
  }
  .logo a {
    color: #9C865B;
    font-family: "Black Ops One";
    font-size: 36px;
  }
  .logo a  span{
    color: #F5B206;
  }
  .final-foter {
    width: 100%;
    padding: 0;
  }
  .header{
    background-color: #3b5d50;
  }




.main-bg-color{
 background-color: #D9D9D9;
}
.titre-color{
    color: #474747;
}
.p-color{
    color: #6A6A6A;
}
.bg-card{
    background-color: #f3dda1;
}
.bg-card-team{
    background-color: #d9d9d9;
}
.btn.btn-primary {
    background: #3b5d50;
    border-color: #3b5d50; 
}
.section-email{
    background-color: #ffffff;
    min-height: fit-content;
    padding: .7rem 0;
    margin-left: -1rem;
    width: 100vw;
    
}

.sofa-img {
    position: absolute;
    top: -100px;
    z-index: 1;
    right: 0;
    
}

.sofa-img img {
      max-width: 250px; 
    }
@media (max-width:720px) {
    .sofa-img{
        display: none;
    }
}

