.section-input,
form .bg,
.section-input .bg{
    background-color: #3B5D50;
}
.section-input{
    background-color: #EFF2F1;
    min-height: 80vh;
    padding-top: 150px;
}
textarea{
    height: 20vh;
}
.hero{
    min-height: 50vh;
}
input,
textarea{
    outline: none;
}
.image{
    height: 50vh;
    align-items: end;
}
.top-20{
    width: 500px;
    bottom: -80px;
    right: -30px;
}