*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card-img-top{
    width: 100%;
    height: 20rem;
}
.article__section3--big,.article__section3--medium,.article__section3--small{
    border-radius: .5rem;
  }
  .article__section3--big{
    width: 25rem;
    height: 28rem;
  }
  .article__section3--medium{
    width: 19rem;
    height: 22rem;
    bottom: -5rem;
    right: 8.7rem;
  }

  .article__section3--small{
    width: 10rem;
    height: 10rem;
  }
.article__section3--dots{
    z-index: -4;
    left: 1rem;
    top: -6rem;
}
.card:hover{
    background-image:     linear-gradient(white 30%, #0bf7c4 70%);
}
.card-img-top{
    position: relative;
}
@media (max-width: 720px){
.images-for-laptops {
    display: none !important;
} 
}
