*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-color .navbar-brand {
    color: #F7E6C4;
    font-size: 36px;
    font-family:'Black Ops One' ;
}
.bg-color .navbar-brand span{
    color: #D7B96B;
    
}
.bg-color{
    background-color: #3B5D50;
  }
.h{
    height: 50vh;
}
.prant{
  height: 30vh;
}
.prant .btn{
  width: 150px;
  height: 40px;
  font-weight: bold;
  font-size: 22px;
}
@media (max-width:992px) {
  .image{
    display: none;
  }
}
input , textarea{
  border-radius: 8px;
}